body
{
	background-color: #383838;
	font-family: "arial";
}

.navbar
{
	position: fixed;
	display: block;
	top:0;
	left:0;
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 4px #000000;
	z-index: 10;
}
a
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 270px;
}

p
{
	position: relative;
	text-decoration: none;
	color: #0F0F0F;
	font-size: 40px;
}

#container
{
	display: table;
	width: 100%;
}

#list
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.whitebar
{
	position: absolute;
	display: block;
	width: 480px;
	height: 350px;
	background-color: #FFFFFF;
	z-index: -2;
}

.link
{
	position: relative;
	display: inline-block;
	width: 480px;
	height: 350px;
	margin: 4% 4%;
	box-shadow: 0px 6px 8px #000000;
	z-index: 1;
}

[class^='link'] > p
{
	top: 70%;
}

[class^='image']
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 270px;
	background-size: cover;
	z-index: -1;	
}

h1
{
	margin: auto;
	text-align: center;
	color: #0F0F0F;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.image1
{
	background-image: url(blackbox.png);
}

.image2
{
	background-image: url(whitecards.png);
}