body
{
	background-color: #1F1F1F;
	font-family: "arial";
}

.navbar
{
	position: fixed;
	display: block;
	top:0;
	left:0;
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
}
a
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 270px;

}

p
{
	position: relative;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 40px;
}

#container
{
	display: table;
	width: 100%;
}

#list
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.link
{
	position: relative;
	display: inline-block;
	width: 480px;
	height: 400px;
	margin: 4% 4%;
}
[class^='image']
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 270px;
	background-size: cover;
	z-index: -1;	
}

[class^='navbar'] > p
{
	margin: auto;
	text-align: center;
	color: #0F0F0F
}

.image1
{
	background-image: url(blackbox.png);
}

.image2
{
	background-image: url(whitecards.png);
}