body
{
	background-color: #0F0F0F;
	Font-family: "Arial";
}

.navbar
{
	display: inline-block;
	height: 100px;
	width: 100%;
	background-color: #505050;
}

p
{
	position: relative;
	text-decoration: none;
	color: #FFFFFF;
	line-height: 0px;
	font-size: 50px;
}

#container
{
	display: table;
	width: 100%;
}

#list
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.link
{
	position: relative;
	display: inline-block;
	width: 300px;
	height: 400px;
	margin: 50px 2% 2% 2%;
}
.image
{
	position: absolute;
	display: inline-block;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 300px;
	background-image: url(Whitecards.PNG);
	z-index: -1
}
[class^='navbar'] > p
{
	vertical-align: middle;
	text-align: center;
}
